body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #888888;
    color: #222222;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 11px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;

  }

